/*
 * PingOne Platform API
 *
 * A bare-bones collection for the PingOne API
 *
 * API version: 1.0.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pingone

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ManagementAPIsNotificationsNotificationsSettingsSMTPApiService ManagementAPIsNotificationsNotificationsSettingsSMTPApi service
type ManagementAPIsNotificationsNotificationsSettingsSMTPApiService service

type ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest struct {
	ctx _context.Context
	ApiService *ManagementAPIsNotificationsNotificationsSettingsSMTPApiService
	envID string
	authorization *string
}

func (r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest) Authorization(authorization string) ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetExecute(r)
}

/*
 * V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGet READ Notifications Settings (SMTP)
 * By design, PingOne requests solely comprise this collection. For complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param envID
 * @return ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest
 */
func (a *ManagementAPIsNotificationsNotificationsSettingsSMTPApiService) V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGet(ctx _context.Context, envID string) ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest {
	return ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest{
		ApiService: a,
		ctx: ctx,
		envID: envID,
	}
}

/*
 * Execute executes the request
 */
func (a *ManagementAPIsNotificationsNotificationsSettingsSMTPApiService) V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetExecute(r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGetRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ManagementAPIsNotificationsNotificationsSettingsSMTPApiService.V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsGet")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/environments/{envID}/notificationsSettings/emailDeliverySettings"
	localVarPath = strings.Replace(localVarPath, "{"+"envID"+"}", _neturl.PathEscape(parameterToString(r.envID, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest struct {
	ctx _context.Context
	ApiService *ManagementAPIsNotificationsNotificationsSettingsSMTPApiService
	envID string
	contentType *string
	authorization *string
	body *map[string]interface{}
}

func (r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest) ContentType(contentType string) ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest {
	r.contentType = &contentType
	return r
}
func (r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest) Authorization(authorization string) ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest {
	r.authorization = &authorization
	return r
}
func (r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest) Body(body map[string]interface{}) ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest {
	r.body = &body
	return r
}

func (r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutExecute(r)
}

/*
 * V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPut UPDATE Notifications Settings (SMTP)
 * By design, PingOne requests solely comprise this collection. For complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param envID
 * @return ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest
 */
func (a *ManagementAPIsNotificationsNotificationsSettingsSMTPApiService) V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPut(ctx _context.Context, envID string) ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest {
	return ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest{
		ApiService: a,
		ctx: ctx,
		envID: envID,
	}
}

/*
 * Execute executes the request
 */
func (a *ManagementAPIsNotificationsNotificationsSettingsSMTPApiService) V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutExecute(r ApiV1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPutRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ManagementAPIsNotificationsNotificationsSettingsSMTPApiService.V1EnvironmentsEnvIDNotificationsSettingsEmailDeliverySettingsPut")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/environments/{envID}/notificationsSettings/emailDeliverySettings"
	localVarPath = strings.Replace(localVarPath, "{"+"envID"+"}", _neturl.PathEscape(parameterToString(r.envID, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		localVarHeaderParams["Content-Type"] = parameterToString(*r.contentType, "")
	}
	if r.authorization != nil {
		localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
