openapi: 3.0.0
info:
  description: A bare-bones collection for the PingOne API
  title: PingOne Platform API
  version: 1.0.0
externalDocs:
  description: PingOne Platform API Reference
  url: https://apidocs.pingidentity.com/pingone/platform/v1/api/
servers:
- description: PingOne EU
  url: https://api.pingone.eu
- description: PingOne US
  url: https://api.pingone.com
- description: PingOne APAC
  url: https://api.pingone.au
security:
- oauth: []
tags:
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > OpenID Connect/OAuth 2
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > Flows
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > Flows > Flows
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > Flows > Forgot Password
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > Flows > Registration and Verification
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > SAML 2.0
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Authentication APIs > External Authentication
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Accounting for Latency
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Active Identity Counts
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management > Agreements Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management > Agreement Languages Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management > Agreement Revisions Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Alerting
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Applications
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Secret
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Resource Grants
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Sign-On Policy Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Role Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Attribute Mapping
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application MFA Push Credentials
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Audit Activities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Authentications per Application
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Bill of Materials (BOM)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Branding
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Branding > Branding Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Branding > Branding Themes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Capabilities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Certificate Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Custom Domains
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Device Authentication Policy
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Environments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateways
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateway Credentials
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateway Instances
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateway Role Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Groups
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Revisions
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Plans
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Stores
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Store
    Metadata
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Rules
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Mappings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Provider Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Provider Management > Identity Providers
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Provider Management > Identity Provider Attributes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Images
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Integration Catalog
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Language Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Language Management > Languages
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Language Management > Language Localization Status
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Licenses
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > MFA Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Notifications Templates
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Notifications Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Notifications Settings (SMTP)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Phone Delivery Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Trusted Email Domains
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Trusted Email Addresses
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Organizations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Password Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Populations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources > Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources > Resource Scopes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources > Resource Attributes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management > Risk Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management > Risk Evaluations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management > Risk Advanced Predictors
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Roles
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Schemas
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Sign-On Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Sign-On Policies > Sign-On Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Sign-On Policies > Sign-On Policy Actions
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Subscriptions (webhooks)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Total Identities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > User Activities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Users
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Group Membership
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > MFA Devices
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > MFA Devices > FIDO2 Biometrics Devices
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Enable Users
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Enable Users MFA
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Linked Accounts
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > MFA Pairing Keys
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Populations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Passwords
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Role Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User ID Verification
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Agreement Consents
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Accounts
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Sessions
paths:
  /v1/{envID}/as/authorize:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: token id_token
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - example: 6c796712-0f16-4062-815a-e0a92f4a2143
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - example: pi.flow
        explode: true
        in: query
        name: response_mode
        required: false
        schema:
          type: string
        style: form
      - example: openid
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      - example: '{string}'
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - example: '{requestString}'
        explode: true
        in: query
        name: request
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: 'Authorize (Transaction Approval) '
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                response_type:
                  description: Required
                  example: token
                  type: string
                client_id:
                  description: Required
                  example: '{{appID}}'
                  type: string
                redirect_uri:
                  description: Required
                  example: https://example.com
                  type: string
                scope:
                  description: Required
                  example: openid profile p1:read:user
                  type: string
                nonce:
                  description: Required
                  example: 123
                  type: integer
                state:
                  description: Recommended
                  example: <state value>
                  type: string
                prompt:
                  description: Optional ( none | login )
                  example: login
                  type: string
                max_age:
                  description: Optional - uses seconds
                  example: 3600
                  type: integer
                acr_values:
                  description: Optional - use Sign-on Policy names (space-delimited)
                  example: Single_Factor
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Authorize (implicit)
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/resume:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{sessionToken}}'
        explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      - example: '{{flowID}}'
        explode: true
        in: query
        name: flowId
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Resume
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/token:
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                grant_type:
                  description: Required
                  example: urn:ietf:params:oauth:grant-type:token-exchange
                  type: string
                subject_token_type:
                  description: (For CLIENT_SECRET_POST; if included with Basic Auth,
                    must match Header value)
                  example: pingone_gateway_credential
                  type: string
                subject_token:
                  description: (For for CLIENT_SECRET_POST)
                  example: '{{gatewayCredential}}'
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: 'Token Exchange (Gateway Credential) '
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/.well-known/openid-configuration:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Discovery OpenID Configuration
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/userinfo:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Userinfo
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Userinfo
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/signoff:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{sessionToken}}'
        explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      - description: Required
        example: '{{idToken}}'
        explode: true
        in: query
        name: id_token_hint
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Signoff
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/jwks:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ JWKS
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/introspect:
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                token:
                  description: Required
                  example: '{{refreshToken}}'
                  type: string
                client_id:
                  description: (For CLIENT_SECRET_POST; if included with Basic Auth,
                    must match Header value)
                  example: '{{appID}}'
                  type: string
                client_secret:
                  description: (For for CLIENT_SECRET_POST)
                  example: '{{appSecret}}'
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Token Introspection (Refresh Token)
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /v1/{envID}/as/revoke:
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                token:
                  description: Required
                  example: '{{oauthToken}}'
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Token Revocation
      tags:
      - Authentication APIs > OpenID Connect/OAuth 2
  /{envID}/flows/{flowID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: ST={{sessionToken}}
        explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: flowID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Flow
      tags:
      - Authentication APIs > Flows > Flows
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/vnd.pingidentity.user.verify+json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: ST={{sessionToken}}
        explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: flowID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                verificationCode: xxxxxx
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Verify User
      tags:
      - Authentication APIs > Flows > Registration and Verification
  /v1/{envID}/flows/{flowID}:
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/vnd.pingidentity.session.reset+json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: ST={{sessionToken}}
        explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: flowID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Reset Flow
      tags:
      - Authentication APIs > Flows > Flows
  /{envID}/saml20/metadata/{appID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ SAML Metadata
      tags:
      - Authentication APIs > SAML 2.0
  /{envID}/saml20/idp/sso:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{SAMLRequest}}'
        explode: true
        in: query
        name: SAMLRequest
        required: false
        schema:
          type: string
        style: form
      - example: token
        explode: true
        in: query
        name: RelayState
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: SAML SSO Using GET
      tags:
      - Authentication APIs > SAML 2.0
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                SAMLRequest:
                  example: '{{SAMLRequest}}'
                  type: string
                RelayState:
                  example: token
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: SAML SSO Using POST
      tags:
      - Authentication APIs > SAML 2.0
  /{envID}/saml20/idp/startsso:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: '{{spEntityIdValue}}'
        explode: true
        in: query
        name: spEntityId
        required: false
        schema:
          type: string
        style: form
      - example: '{{AppUrl}}'
        explode: true
        in: query
        name: applicationUrl
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Identity Provider Initiated SSO
      tags:
      - Authentication APIs > SAML 2.0
  /{envID}/saml20/sp/metadata/{idpID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: idpID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ SAML Service Provider Metadata
      tags:
      - Authentication APIs > SAML 2.0
  /{envID}/saml20/sp/sso:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{extIdpID}}'
        explode: true
        in: query
        name: idpId
        required: false
        schema:
          type: string
        style: form
      - example: '{{flowID}}'
        explode: true
        in: query
        name: flowId
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Service Provider Initiated Inbound SSO
      tags:
      - Authentication APIs > SAML 2.0
  /{envID}/saml20/sp/acs:
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                RelayState:
                  example: '{applicationId={{samlAppID}}&applicationUrl={{appURL}}}'
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: SAML ACS Endpoint for Identity Provider Initiated Inbound SSO
      tags:
      - Authentication APIs > SAML 2.0
  /{envID}/saml20/idp/slo:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{SAMLRequest}}'
        explode: true
        in: query
        name: SAMLRequest
        required: false
        schema:
          type: string
        style: form
      - example: testing...
        explode: true
        in: query
        name: RelayState
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: SAML SLO Using GET
      tags:
      - Authentication APIs > SAML 2.0
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/x-www-form-urlencoded
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                SAMLRequest:
                  example: '{{SAMLRequest}}'
                  type: string
                RelayState:
                  example: testing...
                  type: string
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: SAML SLO Using POST
      tags:
      - Authentication APIs > SAML 2.0
  /v1/{envID}/rp/authenticate:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{idpID}}'
        explode: true
        in: query
        name: providerId
        required: false
        schema:
          type: string
        style: form
      - example: '{{flowID}}'
        explode: true
        in: query
        name: flowId
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          content:
            application/json: {}
          description: Successful response
      summary: READ External Authentication Initialization
      tags:
      - Authentication APIs > External Authentication
  /v1/{envID}/rp/callback/{providerType}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{externalAuthCode}}'
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - example: '{{externalProviderState}}'
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          content:
            application/json: {}
          description: Successful response
      summary: READ External Authentication Callback
      tags:
      - Authentication APIs > External Authentication
  /v1/environments/{envID}/externalAuthentications/{extAuthID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - description: Use this for localhost
        example: ST={{sessionToken}}
        explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: extAuthID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ External Authentication Status
      tags:
      - Authentication APIs > External Authentication
  /v1/environments/{envID}/activeIdentityCounts:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: startDate ge "2019-05-01T19:00:00Z" and samplingPeriod eq "10"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - example: "10"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: -startDate
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Active Identity Counts (Deprecated)
      tags:
      - Management APIs > Active Identity Counts
  /v1/environments/{envID}/metrics/activeIdentityCounts:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: startDate ge "2020-05-01T19:00:00Z"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - example: "10"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: -startDate
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - example: MONTH
        explode: true
        in: query
        name: samplePeriod
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Active Identity Counts by Date Range
      tags:
      - Management APIs > Active Identity Counts
  /v1/organizations/{orgID}/licenses/{licenseID}/metrics/activeIdentityCounts:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: header
        required: false
        schema:
          type: string
        style: simple
      - example: calendarMonth
        explode: true
        in: query
        name: aggregatedBy
        required: false
        schema:
          type: string
        style: form
      - example: "20"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: -startDate
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: orgID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: licenseID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Active Identity Counts by License
      tags:
      - Management APIs > Active Identity Counts
  /v1/environments/{envID}/agreements:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Agreements
      tags:
      - Management APIs > Agreement Management > Agreements Resources
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Agreement_2
                description: Terms of service agreement
                reconsentPeriodDays: 180
                enabled: false
              type: object
      responses:
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
  /v1/environments/{envID}/agreements/{agreementID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: DELETE Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Agreement_1_UPDATED_{{$timestamp}}
                reconsentPeriodDays: 360
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Languages
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                locale: en-US
                displayName: Language_1
                enabled: true
              type: object
      responses:
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: DELETE Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                locale: en-CH
                displayName: Language_{{$timestamp}}
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}/revisions:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Revisions
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                effectiveAt: 2099-08-01T22:45:44.497Z
                requireReconsent: false
                text: So, you agree to all my terms, right?
              type: object
      responses:
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Revision
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}/revisions/{revisionID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: revisionID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Revision
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
  /v1/environments/:envID/agreements/:agreeID/languages/:langID/revisions/:revisionID:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: DELETE Revision
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
  /v1/environments/{envID}/alertChannels:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Alert Channels per Environment
      tags:
      - Management APIs > Alerting
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                channelType: EMAIL
                includeSeverities:
                - ERROR
                includeAlertTypes:
                - CERTIFICATE_EXPIRED
                excludeAlertTypes: []
                addresses:
                - tom@example.com
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Alert Channel (Email)
      tags:
      - Management APIs > Alerting
  /v1/environments/{envID}/alertChannels/{alertChannelID}:
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: alertChannelID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                channelType: EMAIL
                includeSeverities:
                - WARNING
                includeAlertTypes:
                - CERTIFICATE_EXPIRED
                excludeAlertTypes: []
                addresses:
                - tom@example.com
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Alert Channel
      tags:
      - Management APIs > Alerting
  /v1/environments/{envID}/alertChannels/{alertChannelsID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: alertChannelsID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: DELETE Alert Channel
      tags:
      - Management APIs > Alerting
  /v1/environments/{envID}/applications:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Applications
      tags:
      - Management APIs > Applications > Applications
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: app_{{$timestamp}}
                description: this is my application
                enabled: true
                '#loginPageUrl': https://example.com
                type: WEB_APP
                protocol: SAML
                '#icon':
                  id: 04ad537e-c9cd-45c3-abfb-f41946cfe374
                  href: https://upload.wikimedia.org/wikipedia/commons/a/a8/Baby_Jake.jpg
                assertionDuration: 60
                acsUrls:
                - https://example.com
                sloResponseEndpoint: https://example.com
                spEntityId: test
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Application (SAML Protocol)
      tags:
      - Management APIs > Applications > Applications
  /v1/environments/{envID}/applications/{appID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Application
      tags:
      - Management APIs > Applications > Applications
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: UPDATED_{{$timestamp}}
                description: this is my UPDATED client
                enabled: false
                type: WEB_APP
                protocol: SAML
                assertionDuration: 60
                acsUrls:
                - https://example.com
                sloResponseEndpoint: https://example.com
                spEntityId: test
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Application (SAML)
      tags:
      - Management APIs > Applications > Applications
  /v1/environments/{envID}/applications/{appD}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: DELETE Application
      tags:
      - Management APIs > Applications > Applications
  /v1/environments/{envID}/applications/{appID}/secret:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Application Secret
      tags:
      - Management APIs > Applications > Application Secret
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Application Secret
      tags:
      - Management APIs > Applications > Application Secret
  /v1/environments/{envID}/applications/{appID}/grants:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Grants for an Application
      tags:
      - Management APIs > Applications > Application Resource Grants
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                resource:
                  id: '{{resourceID}}'
                scopes:
                - id: '{{scopeID}}'
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Grant
      tags:
      - Management APIs > Applications > Application Resource Grants
  /v1/environments/{envID}/applications/{appID}/grants/{grantID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: grantID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: DELETE Grant
      tags:
      - Management APIs > Applications > Application Resource Grants
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: grantID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Grant for an Application
      tags:
      - Management APIs > Applications > Application Resource Grants
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: grantID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                resource:
                  id: '{{resourceID}}'
                scopes:
                - id: '{{OIDCscopeID}}'
                - id: '{{anotherOIDCscopeID}}'
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Grant
      tags:
      - Management APIs > Applications > Application Resource Grants
  /v1/environments/{envID}/applications/{appID}/signOnPolicyAssignments:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All SOP Assignments
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Bearer {{jwtToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                priority: 1
                signOnPolicy:
                  id: '{{policyID}}'
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE SOP Assignment
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
  /v1/environments/{envID}/applications/{appID}/signOnPolicyAssignments/{SOPAssignmentID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
[...]
