openapi: 3.0.0
info:
  description: A bare-bones collection for the PingOne API
  title: PingOne Platform API - Management
  version: 1.0.0
externalDocs:
  description: PingOne Platform API Reference
  url: https://apidocs.pingidentity.com/pingone/platform/v1/api/
servers:
- description: PingOne EU API
  url: https://api.pingone.eu
- description: PingOne US API
  url: https://api.pingone.com
- description: PingOne APAC API
  url: https://api.pingone.asia
security:
- bearer: []
tags:
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Accounting for Latency
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Active Identity Counts
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management > Agreements Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management > Agreement Languages Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Agreement Management > Agreement Revisions Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Alerting
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Applications
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Secret
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Resource Grants
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Sign-On Policy Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Role Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application Attribute Mapping
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Applications > Application MFA Push Credentials
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Audit Activities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Authentications per Application
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Bill of Materials (BOM)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Branding
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Branding > Branding Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Branding > Branding Themes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Capabilities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Certificate Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Custom Domains
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Device Authentication Policy
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Environments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateways
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateway Credentials
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateway Instances
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Gateway Management > Gateway Role Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Groups
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Revisions
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Plans
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Stores
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Store
    Metadata
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Rules
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Propagation (Provisioning) > Propagation Mappings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Provider Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Provider Management > Identity Providers
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Identity Provider Management > Identity Provider Attributes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Images
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Integration Catalog
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Language Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Language Management > Languages
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Language Management > Language Localization Status
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Licenses
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > MFA Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Notifications Templates
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Notifications Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Notifications Settings (SMTP)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Phone Delivery Settings
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Trusted Email Domains
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Notifications > Trusted Email Addresses
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Organizations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Password Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Populations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources > Resources
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources > Resource Scopes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Resources > Resource Attributes
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management > Risk Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management > Risk Evaluations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Risk Management > Risk Advanced Predictors
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Roles
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Schemas
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Sign-On Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Sign-On Policies > Sign-On Policies
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Sign-On Policies > Sign-On Policy Actions
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Subscriptions (webhooks)
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Total Identities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > User Activities
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Users
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Group Membership
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > MFA Devices
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > MFA Devices > FIDO2 Biometrics Devices
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Enable Users
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Enable Users MFA
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Linked Accounts
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > MFA Pairing Keys
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Populations
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Passwords
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Role Assignments
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User ID Verification
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Agreement Consents
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > User Accounts
- description: By design, PingOne requests solely comprise this collection. For complete
    documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  name: Management APIs > Users > Sessions
paths:
  /v1/environments/{envID}/activeIdentityCounts:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: startDate ge "2019-05-01T19:00:00Z" and samplingPeriod eq "10"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - example: "10"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: -startDate
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Active Identity Counts (Deprecated)
      tags:
      - Management APIs > Active Identity Counts
  /v1/environments/{envID}/metrics/activeIdentityCounts:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: startDate ge "2020-05-01T19:00:00Z"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - example: "10"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: -startDate
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - example: MONTH
        explode: true
        in: query
        name: samplePeriod
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Active Identity Counts by Date Range
      tags:
      - Management APIs > Active Identity Counts
  /v1/organizations/{orgID}/licenses/{licenseID}/metrics/activeIdentityCounts:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: calendarMonth
        explode: true
        in: query
        name: aggregatedBy
        required: false
        schema:
          type: string
        style: form
      - example: "20"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: -startDate
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: orgID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: licenseID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Active Identity Counts by License
      tags:
      - Management APIs > Active Identity Counts
  /v1/environments/{envID}/agreements:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Agreements
      tags:
      - Management APIs > Agreement Management > Agreements Resources
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Agreement_2
                description: Terms of service agreement
                reconsentPeriodDays: 180
                enabled: false
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
  /v1/environments/{envID}/agreements/{agreementID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Agreement_1_UPDATED_{{$timestamp}}
                reconsentPeriodDays: 360
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Agreement
      tags:
      - Management APIs > Agreement Management > Agreements Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Languages
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                locale: en-US
                displayName: Language_1
                enabled: true
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                locale: en-CH
                displayName: Language_{{$timestamp}}
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Language
      tags:
      - Management APIs > Agreement Management > Agreement Languages Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}/revisions:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Revisions
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                effectiveAt: 2099-08-01T22:45:44.497Z
                requireReconsent: false
                text: So, you agree to all my terms, right?
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Revision
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}/revisions/{revisionID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agreementID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: languageID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: revisionID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Revision
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
  /v1/environments/:envID/agreements/:agreeID/languages/:langID/revisions/:revisionID:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Revision
      tags:
      - Management APIs > Agreement Management > Agreement Revisions Resources
  /v1/environments/{envID}/alertChannels:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Alert Channels per Environment
      tags:
      - Management APIs > Alerting
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                channelType: EMAIL
                includeSeverities:
                - ERROR
                includeAlertTypes:
                - CERTIFICATE_EXPIRED
                excludeAlertTypes: []
                addresses:
                - tom@example.com
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Alert Channel (Email)
      tags:
      - Management APIs > Alerting
  /v1/environments/{envID}/alertChannels/{alertChannelID}:
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: alertChannelID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                channelType: EMAIL
                includeSeverities:
                - WARNING
                includeAlertTypes:
                - CERTIFICATE_EXPIRED
                excludeAlertTypes: []
                addresses:
                - tom@example.com
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Alert Channel
      tags:
      - Management APIs > Alerting
  /v1/environments/{envID}/alertChannels/{alertChannelsID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: alertChannelsID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Alert Channel
      tags:
      - Management APIs > Alerting
  /v1/environments/{envID}/applications:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: readAllApplications
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityArray'
          description: Successful response
      summary: READ All Applications
      tags:
      - Management APIs > Applications > Applications
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: createApplication
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: app_{{$timestamp}}
                description: this is my application
                enabled: true
                '#loginPageUrl': https://example.com
                type: WEB_APP
                protocol: SAML
                '#icon':
                  id: 04ad537e-c9cd-45c3-abfb-f41946cfe374
                  href: https://upload.wikimedia.org/wikipedia/commons/a/a8/Baby_Jake.jpg
                assertionDuration: 60
                acsUrls:
                - https://example.com
                sloResponseEndpoint: https://example.com
                spEntityId: test
              oneOf:
              - $ref: '#/components/schemas/ApplicationSAML'
              - $ref: '#/components/schemas/ApplicationOIDC'
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApplicationSAML'
                - $ref: '#/components/schemas/ApplicationOIDC'
          description: Successful response
      summary: CREATE Application
      tags:
      - Management APIs > Applications > Applications
  /v1/environments/{envID}/applications/{appID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: deleteApplication
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Application
      tags:
      - Management APIs > Applications > Applications
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: readOneApplication
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApplicationSAML'
                - $ref: '#/components/schemas/ApplicationOIDC'
          description: Successful response
      summary: READ One Application
      tags:
      - Management APIs > Applications > Applications
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: updateApplication
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: UPDATED_{{$timestamp}}
                description: this is my UPDATED client
                enabled: false
                type: WEB_APP
                protocol: SAML
                assertionDuration: 60
                acsUrls:
                - https://example.com
                sloResponseEndpoint: https://example.com
                spEntityId: test
              oneOf:
              - $ref: '#/components/schemas/ApplicationSAML'
              - $ref: '#/components/schemas/ApplicationOIDC'
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Application
      tags:
      - Management APIs > Applications > Applications
  /v1/environments/{envID}/applications/{appID}/secret:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: readApplicationSecret
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSecret'
          description: Successful response
      summary: READ Application Secret
      tags:
      - Management APIs > Applications > Application Secret
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: updateApplicationSecret
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Application Secret
      tags:
      - Management APIs > Applications > Application Secret
  /v1/environments/{envID}/applications/{appID}/grants:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Grants for an Application
      tags:
      - Management APIs > Applications > Application Resource Grants
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                resource:
                  id: '{{resourceID}}'
                scopes:
                - id: '{{scopeID}}'
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Grant
      tags:
      - Management APIs > Applications > Application Resource Grants
  /v1/environments/{envID}/applications/{appID}/grants/{grantID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: grantID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Grant
      tags:
      - Management APIs > Applications > Application Resource Grants
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: grantID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Grant for an Application
      tags:
      - Management APIs > Applications > Application Resource Grants
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: grantID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                resource:
                  id: '{{resourceID}}'
                scopes:
                - id: '{{OIDCscopeID}}'
                - id: '{{anotherOIDCscopeID}}'
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Grant
      tags:
      - Management APIs > Applications > Application Resource Grants
  /v1/environments/{envID}/applications/{appID}/signOnPolicyAssignments:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All SOP Assignments
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                priority: 1
                signOnPolicy:
                  id: '{{policyID}}'
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE SOP Assignment
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
  /v1/environments/{envID}/applications/{appID}/signOnPolicyAssignments/{SOPAssignmentID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: SOPAssignmentID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE SOP Assignment
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: SOPAssignmentID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One SOP Assignment
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: SOPAssignmentID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                priority: 5
                signOnPolicy:
                  id: '{{policyID}}'
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE SOP Assignment
      tags:
      - Management APIs > Applications > Application Sign-On Policy Assignments
  /v1/environments/{envID}/applications/{appID}/roleAssignments:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Application Role Assignments
      tags:
      - Management APIs > Applications > Application Role Assignments
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                role:
                  id: '{{roleID}}'
                scope:
                  id: '{{envID}}'
                  type: ENVIRONMENT
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Application Role Assignments
      tags:
      - Management APIs > Applications > Application Role Assignments
  /v1/environments/{envID}/applications/{appID}/roleAssignments/{roleAssignmentID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleAssignmentID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Application Role Assignment
      tags:
      - Management APIs > Applications > Application Role Assignments
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleAssignmentID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Application Role Assignment
      tags:
      - Management APIs > Applications > Application Role Assignments
  /v1/environments/{envID}/applications/{appID}/attributes:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All Application Attribute Mappings
      tags:
      - Management APIs > Applications > Application Attribute Mapping
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: email
                value: ${user.email}
                required: false
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE Application Attribute Mapping
      tags:
      - Management APIs > Applications > Application Attribute Mapping
  /v1/environments/{envID}/applications/{appID}/attributes/{samlAttrID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: samlAttrID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE Application Attribute Mapping
      tags:
      - Management APIs > Applications > Application Attribute Mapping
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: samlAttrID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One Application Attribute Mapping
      tags:
      - Management APIs > Applications > Application Attribute Mapping
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: samlAttrID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: email
                value: ${user.email}
                required: true
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE Application Attribute Mapping
      tags:
      - Management APIs > Applications > Application Attribute Mapping
  /v1/environments/{envID}/applications/{appID}/pushCredentials:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ All MFA Push Credentials
      tags:
      - Management APIs > Applications > Application MFA Push Credentials
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                type: FCM
                key: key.value
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "201":
          content:
            application/json: {}
          description: Successful response
      summary: CREATE MFA Push Credential (FCM)
      tags:
      - Management APIs > Applications > Application MFA Push Credentials
  /v1/environments/{envID}/applications/{appID}/pushCredentials/{pushCredID}:
    delete:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: Bearer {{accessToken}}
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pushCredID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "204":
          description: Successful response
      summary: DELETE MFA Push Credential
      tags:
      - Management APIs > Applications > Application MFA Push Credentials
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pushCredID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ One MFA Push Credential
      tags:
      - Management APIs > Applications > Application MFA Push Credentials
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pushCredID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                type: APNS
                key: key.value.updated
                teamId: team.id.updated
                token: |-
                  -----BEGIN PRIVATE KEY-----
                  MIGTAgEA****7HUikGZU
                  -----END PRIVATE KEY-----
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: UPDATE MFA Push Credential
      tags:
      - Management APIs > Applications > Application MFA Push Credentials
  /v1/environments/{envID}/activities:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: recordedat gt "2018-08-20T00:00:00Z" AND recordedat lt "2018-08-22T23:59:00Z"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: GET User Activities
      tags:
      - Management APIs > Audit Activities
    post:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                filter: recordedat gt "2019-01-01T22:54:12.988Z" AND recordedat lt
                  "2019-01-31T22:54:12.988Z" AND actors.user.name eq "Bill"
              type: object
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: GET User Activities
      tags:
      - Management APIs > Audit Activities
  /v1/environments/{envID}/activities/{activityID}:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: activityID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: GET One User Activity
      tags:
      - Management APIs > Audit Activities
  /v1/environments/{envID}/applicationSignons:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: "1"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - example: "1"
        explode: true
        in: query
        name: samplePeriod
        required: false
        schema:
          type: integer
        style: form
      - example: "100"
        explode: true
        in: query
        name: samplePeriodCount
        required: false
        schema:
          type: integer
        style: form
      - example: occurredAt ge "2019-10-03T00:00:00Z""
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: READ Authentications Per Application (Partial)
      tags:
      - Management APIs > Authentications per Application
  /v1/environments/{envID}/billOfMaterials:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: readOneBillOfMaterials
      parameters:
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillOfMaterials'
          description: Successful response
      summary: READ One Bill of Materials
      tags:
      - Management APIs > Bill of Materials (BOM)
    put:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      operationId: updateBillOfMaterials
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillOfMaterials'
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillOfMaterials'
          description: Successful response
      summary: UPDATE Bill of Materials
      tags:
      - Management APIs > Bill of Materials (BOM)
  /v1/environments/{envID}/brandingSettings:
    get:
      description: By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
      - example: '{{jwtToken}}'
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P1Error'
          description: Unauthorised
        "200":
          content:
            application/json: {}
[...]
